

#mainContainer {
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #6486ff88, #1117286f);
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: none;
    position: relative;
}

#containerForm {
    position: relative;
    width: 25%;
    height: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/*CLOSE BUTTON*/
.close-container {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.leftright {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: #763bffce;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}
.rightleft {
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color: #6f00ffce;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}
label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    opacity: 0;
}
.close {
    margin: 40px 0px 20px 0px;
    position: absolute;
}
.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #b82c35b2;
}
.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #b82c35b2;
}
.close-container:hover label {
    opacity: 1;
}

/*****FORM*****/
form {
    background: rgba(78, 78, 78, 0.18);
    padding-right: 3vh;
    padding: 3em;
    height: 82vh;
    width: 100%;
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

form p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
}

form a:hover {
    text-shadow: 2px 2px 6px #000 40;
}

form a:active {
    text-shadow: none;
}

form input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-left: 0;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fdfdfd;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"] {
    margin-top: 0;
    width: 100px;
    font-size: 1rem;
}

form input[type="button"]:hover {
    cursor: pointer;
}

form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
}

form:hover {
    margin: 4px;
}

select{
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-left: 0;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fdfdfd;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form select:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form select[type="text"]:focus {
    background: #ffffff1a;
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form select[type="button"] {
    margin-top: 0;
    width: 100px;
    font-size: 1rem;
}

form select[type="button"]:hover {
    cursor: pointer;
}

form select[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
}

form option{
    background-color: #2f17bcfa;
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
}

.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*****button*****/

.containerbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn_head {
    position: relative;
    background: #737373;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  .btn_head:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .btn_head::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .btn_head .button_txt {
    position: relative;
    z-index: 1;
  }
  .btn_head i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .btn_head i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .btn_head:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .btn_head i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .btn_head:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }